<canvas id="inputCanvas" width="320" height="240" style="display:none"></canvas>
<video id="inputVideo" autoplay loop></video>
<button type="button" id="js-stopTracking">監視を停止</button>
<button type="button" id="js-startTracking">監視を再開</button>
<p id="js-detectStatus"></p>

<%= javascript_include_tag "headtrackr.min" %>

<script>
var videoInput = document.getElementById('inputVideo');
var canvasInput = document.getElementById('inputCanvas');
var htracker = new headtrackr.Tracker();

var undetected_number_of_times = 0;

// 一度顔認識は完了してから使用する前提
document.addEventListener("headtrackrStatus", function(event){
  if(event.status == "hints"){
    undetected_number_of_times += 1;
  }else if(event.status == "found"){
    undetected_number_of_times = 0;
  }else{
    return false;
  }

  if(undetected_number_of_times == 20){
    alert("起きろ起きろ");
  }
});

htracker.init(videoInput, canvasInput);
htracker.start();

var monitor_stop_btn = document.getElementById('js-stopTracking');
var monitor_start_btn = document.getElementById('js-startTracking');
monitor_stop_btn.addEventListener("click", function(){
  htracker.stop();
});
monitor_start_btn.addEventListener("click", function(){
  htracker.start();
});
</script>
